::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  background: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8d8d8d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #565454;
}
